<!DOCTYPE html>
<html lang="es">
    <header>
        <form action="submit">
            <a href="/login">
                <input type="button" value="Iniciar sesion">
            </a>
        </form>
    </header>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos</title>
        <link rel="shortcut icon" href="E:/Python.png" />
    </head>
    <body>                        
        <h1><center>Saludos a todos los integrantes de Quick</center></h1>
        <p>
            <br></br>
            Me presento, soy Yesid Augusto Silva Moreno, es un gusto el poder estar participando en esta elección para programadores backend. <br></br>
            Fue interesante el poder saber de ustedes en su <a href="https://quick.com.co/es">página</a>, saber todo lo que han hecho, lo que se puede hacer\n
            y de ser posible, lo que se puede lograr. 
            <br></br><br></br>
            Al igual que quisiera, dejo el link de mi perfil en <a href="https://www.linkedin.com/in/yesid-silva-moreno-1a3308191/">LinkedIn</a>, en donde podrán saber un poco más de mi.
            <br></br><br></br>
            SUPERUSUARIO = Radamanti
            PASSWORD = admin
            <br></br><br></br>
            De ante mano, muchas gracias por dejarme participar.
        </p>
    </body>    
</html>